/* master style */
body {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
}
.container {
  display: grid;
}
/* nav-bar style */
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 38px;
}
.left-side {
  display: flex;
}

.nav-wrapper > .left-side > div {
  margin-right: 20px;
  display: inline-block;
  font-size: 0.9em;
  text-transform: uppercase;
}
.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}
.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}
.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
  color: black;
}
.active-nav-link{
  border-bottom: 1px solid black;

}
.active-nav-link a{
  color: black; important;
}

/* Home style*/
.img-text {
  text-align: center;
  color: antiquewhite;
  padding: 250px;
}
.img-text-1 {
  text-transform: uppercase;
  padding: 40px;
  font-size: 2.5em;
}

.img-text-2 {
  font-size: 1.88em;
}

.image-background {
  background: url(Blue-sky.jpg) no-repeat center center fixed;
  height: 100vh;
  background-size: 100% 100%;
  background-attachment: scroll;
}

/* Portfolio */
.portfolio {
  display: flex;
  float: left;
  justify-content: space-around;
  
}

.portfolio-box {
  padding: 10px;
  margin: 10px;
  width: 30%;
  justify-content: center;
  background-color: rgba (20 18 18 0.986);
  display: flex;
  flex-direction: column;
  float: left;

}
.portfolio-box button{
  font: inherit;
  font-weight: 600;
  padding: 0.6rem 2rem;
  background:rgb(29, 160, 160);
  Color: white;
  border: 1px solid;
  transition: 100ms ease;
  position: stack;
  width: 48%;
  margin: 2rem;

portfolio-box button:hover {
  background-color: grey;
}

.portfolio-box button:a{
  color: white;
  text-decoration: none;
}

.portfolio-box p a: {
  color: rgb(29, 160, 160);
  text-decoration: none;
  float: left;
}
